@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #121212;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    color: white;
}

.barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1px;
    background-color: rgba(#121212);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(68, 68, 68, 0.356);
    flex-wrap: wrap;
}

.barra-izquierda {
    display: flex;
    align-items: center;
    margin-left: 250px;
}

.barra-izquierda img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.barra-derecha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 250px;
    font-family: 'Inter';
}

.barra-derecha a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.barra-derecha a:hover {
    color: #00FFB3;
}

@media (max-width: 900px) {
    .barra-derecha {
        display: none;
    }

    .barra-izquierda {
        margin-left: 1px;
    }

    .barra {
        align-items: center;
    }

    

}


main {  
    padding-top: 80px;
}

@media (max-width: 768px) {
    .barra {
        height: auto;
        flex-wrap: wrap;
        padding: 10px;
    }

    .barra-derecha {
        justify-content: flex-start;
        width: 100%;
    }

    .barra-derecha a {
        margin: 5px 10px;
    }
}

.nombrebarra {
    color: #ffcc00;
    text-decoration: none;
}

.carousel-container {
    margin-top: 140px;
    height: auto;
    display: block;
}

.contacto {
    border-radius: 8px;
    box-shadow: 3px 4px 100px #121212;
    display: flex;
    justify-content: center;
    background-image: url(./img/dev2.png);
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    height: 300px;
}

@media (max-width: 1200px) {
    .contacto {
        display: none;
    }
    .software {
        margin-top: -100px;
    }
    .aboutusimg {
        display: none;
    }
    .aboutusizqtext {
        text-align: center;
        font-size: 15px;    
        width: 470px;
        margin-left: 150px;
    }
    
    
}


.softimg {
    height: 330px;
}

@media (max-width: 900px) {
    .softimg {
        height: 250px;
    }
    
}

.foundaisasite {
    font-size: 20px;
    width: 500px;
}

@media (max-width: 768px) {
    .foundaisasite {
        display: none;
    }
}

.contactox {
    text-decoration: none;
}

.contactox:hover {
    transform: scale(1.1);
}

.botondev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 230px;
    font-size: 23px;
}

.programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.software {
    align-items: center;
}

.soft {
    width: 430px;
    box-shadow: 3px 4px 100px #121212;
    height: 330px;
    border-radius: 20px;
}

.soft2 {
    width: 430px;
    box-shadow: 3px 4px 100px #121212;
    height: 330px;
    border-radius: 20px;
}

.soft3 {
    width: 430px;
    box-shadow: 3px 4px 100px #121212;
    height: 330px;
    border-radius: 20px;
}



.botonsoft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 23px;
    position: absolute;
    margin-top: -67px;
    margin-left: 138px;
}

.aboutuslados {
    display: flex;
    justify-content: center;
    width: 900px;
}

.aboutusizqtext2 {
    display: none;
}

@media (max-width: 800px) {
    .aboutusder {
        display: none;
    }

    .aboutusizq {
        justify-content: center;
        text-align: center;
    }

    .aboutuslados {
        justify-content: center;
        text-align: center;
    }

    .aboutusizqtext {
        display: none;
    }

    .aboutusizqtext2 {
        display: block;
        font-size: 15px;
        text-align: center;
        width: 300px;
        margin-left: 240px;
    }
}

.aboutusizq {
    width: 700px;
    text-align: left;
    font-size: clamp(7px, 5vw, 20px);
    ;
    margin-right: 80px;
}

.aboutusimg {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.titleaboutus {
    margin-bottom: -30px;
}


.finalimg {
    object-fit: cover;
    height: 35px;
    transition: transform 0.3s ease-in-out;
}

.finalimg:hover {
    transform: scale(1.1);
}

.final {
    background-color: #1C1C1C;
    height: 110px;
    width: 1900px;
    position: relative;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.finalizq {
    display: flex;
    margin-left: 30px;
    width: 200px;
}

.finalder {
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.finalder:hover {
    transform: scale(1.1);
}

.divcentral {
    width: 200px;
    margin-left: -90px;
}


.ourappscarousel {
    width: 1450px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 20px 0;
}

.ourappscarousel-track {
    display: flex;
    gap: 40px;
    animation: scroll 170s linear infinite;
    width: max-content;
}

.ourappscarousel-track img {
    height: 50px;
    filter: brightness(0.8);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }


}

.carousel-track::after {
    content: "";
    display: flex;
}